body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    /* color: #F9F8F7; */
    align-items: stretch;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    flex: 0;
    align-items: baseline;
}

.header-logo {
    flex: 0;
    align-self: flex-start;
    font-size: 24px;
    color: #F9FAF8;
    flex-basis: 150px;
}

.header-right-menu {
    align-self: flex-end;
    padding-left: 0;
    display: flex;
    list-style: none;
    gap: 15px;
    padding-right: 15px;
    margin: 0;
    align-items: center;
}

.header-right-menu a {
    text-decoration: none;
    color: #F9F8F7
}

.card {
    flex: 1;
    padding: 30px;
    text-align: center;

}

/* Hero Text */
.card1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    gap: 10px;
    align-items: center;
}

.card1 .hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 10px;
}

.card1 .hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.card1 button {
    width: 10em;
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 10px;
    border-image: none;
    border-style: solid;
    background-color: #3882f6;
}

/* Random information */
.card2 {
    color: #1F2937;
}

.card2 .gallery-title {
    margin: 10px;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.card2 .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card2 .item {
    display: flex;
    flex-direction: column;
    text-justify: center;
    width: 150px;
    flex: 0;
    gap: 1em;
}

.card2 .item-square {
    border-width: 3px;
    border-style: solid;
    width: 100px;
    height: 100px;
    border-color: #3882f6;
    border-radius: 5px;
}

.card2 .item-caption {
    font-size: .7em;
}

/* Quote */
.card3 {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;

}

.card3-quote {
    font-weight: 300;
    font-style: italic;
}

.card3-attribute {
    font-weight: bold;
    font-size: .7em;
    text-align: right;
}

/* Call to Action */
.card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;

}

.card4 .centered-dialog {
    display: flex;
    width: 400px;
    padding: 2em;
    background-color: #3882f6;
    border-radius: 10px;
    /* rounded corners */
    text-align: left;
}

.card4-title {
    font-size: 2em;
    font-weight: bold;

}

.card4-subtext {
    font-size: .9em;
}

.card4 button {
    flex: 0;
    flex-basis: 150px;
    border-radius: 5px;
    border-width: 2px;
    color: #F9FAF8;
    border-color: #F9FAF8;
    height: 55px;
    border-image: none;
    border-style: solid;
    background-color: #3882f6;


}